@import "../node_modules/bootstrap/less/bootstrap.less";
@import "../node_modules/font-awesome/less/font-awesome.less";

// redefine to correct subpath
@fa-font-path: ".";

// colours
@brand-primary: lighten(#000, 46.7%);
@brand-secondary: lighten(#000, 75%);

// layout sizing stuff
@krum-player-width: 22em;
@krum-playcontrols-height: 4em;

// main layout
#grid {
  min-width: 720px;
  display: flex;
  align-items: top;
  justify-content: flex-start;
}

#page-menu {
  flex: 0 0 auto;
}

#page-content {
  flex: 1;
  margin: 0 0 0 @padding-base-horizontal/2-1;
  border: 1px solid @brand-secondary;
  border-style: none solid;
  padding: @padding-base-horizontal/2;
}

#sidebar {
  width: @krum-player-width;
}

#upload-queue {
  position: fixed;
  bottom: 0;
  right: 0;
  z-order: 100;
  width: @krum-player-width;
}

.upload-item {
  display: flex;
  justify-content: flex-start;
}

.upload-item .upload-label {
  width: 262px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#upload-item .badge {
  flex: 0 0 auto;
}

#page-menu .nav {
   .nav-pills;
   .nav-stacked;
}

#page-content table {
  width: 100%;
}

// Put some spacing and a bar between each main element
#sidebar > * {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#sidebar > *:not(:last-child) {
  border-bottom: 1px solid @brand-secondary;
}

// Want simple text divs/etc to have some horizontal padding
.krum-simpletext {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#playcontrols {
  display: flex;
  align-items: center;
  justify-content: center;
}

// fix button sizes for play controls
#playcontrols .ki {
  height: auto;
}

// no borders thanks
#playcontrols input:not([type=range]),
#playcontrols button {
  border: 0;
  background-color: transparent;
}

// so it doesn't change width on icon change
#playcontrols #playcontrols-volume button {
  width: 1.5em;
  text-align: left;
}

// volume/progress slide styling
.slider-base() {
  -webkit-appearance: none;
  border-radius: 2px;
  background-color: @gray-light;
  vertical-align: middle;
}
input.krum-slider {
  .slider-base();
  width: 4em;
  height: 2px;
  margin: 1em 0 1em 0;
}
.thumb-grabber() {
  display: block;
  border-radius: 4px;
  border: 3px solid @gray-dark;
  background-color: @gray-light;
  height: 14px;
  width: 6px;
  cursor: pointer;
}
.thumb-grabber-v() {
  .thumb-grabber();
  height: 6px;
  width: 14px;
}
input.krum-slider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  .thumb-grabber();
}
input.krum-slider::-moz-range-thumb {
  -moz-appearance: none;
  .thumb-grabber();
}
input.krum-slider-v {
  .slider-base();
  -webkit-appearance: slider-vertical;
  appearance: slider-vertical;
  width: 2px;
  height: 3em;
  margin: 0 1em 0 1em;
}
input.krum-slider-v::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  .thumb-grabber-v();
}
input.krum-slider-v::-moz-range-thumb {
  -moz-appearance: none;
  .thumb-grabber-v();
}

// video seek bar
#playprogress {
}
#playprogress input.krum-slider {
  width: 90%;
  margin-left: 5%;
  display: inline;
}

// action blocks
.krum-action {
  width: 32px;
  overflow: hidden;
  display: inline-block;
}
.krum-action:not(:last-child) {
  padding-right: 16px;
  min-width: 48px;
  width: 48px;
}

// wide search (tokenised) styling
.krum-mediasearch-search input {
  width: 100%;
}

// give them a border and some space between
.krum-option-group:not(:last-child) {
  padding-right: 1em;
  margin-right: 1em;
  border-right: 1px solid @brand-secondary;
}
// give the search options some space between them
.krum-mediasearch-options label:not(:last-child) {
  margin-right: 0.5em;
}

// Auto complete styling
.krum-autocomplete {
  .dropdown;
}

.krum-autocomplete-choices {
  .dropdown-menu;
  display: block;
}

.krum-autocomplete-selected {
  .bg-primary;
}

// Upload queue styles
div.uploadlist {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  z-index: 100;
}

// icons (alias for easier maintenance)

.ki {
  .fa;
  display: inline-block;
  font-size: 2em;
}

.ki-small {
  .fa;
  display: inline-block;
  font-size: 1em;
}

.ki-change:before {
  content: @fa-var-gear;
}

.ki-seekback:before {
  font-size: 1.5em;
  content: @fa-var-backward;
}

.ki-play:before {
  font-size: 1.5em;
  content: @fa-var-play;
}

.ki-pause:before {
  font-size: 1.5em;
  content: @fa-var-pause;
}

.ki-seekforward:before {
  font-size: 1.5em;
  content: @fa-var-forward;
}

.ki-next:before {
  font-size: 1.5em;
  content: @fa-var-step-forward;
}

.ki-takecontrol:before {
  content: @fa-var-caret-square-o-right;
}

.ki-volume-up:before {
  content: @fa-var-volume-up;
}

.ki-volume-down:before {
  content: @fa-var-volume-down;
}

.ki-volume-off:before {
  content: @fa-var-volume-off;
}

.ki-player-select:before {
  content: @fa-var-desktop;
}

.ki-delete:before {
  content: @fa-var-trash-o;
}

.ki-download:before {
  content: @fa-var-hdd-o;
}

.ki-nodownload:before {
  content: @fa-var-meh-o;
}

.ki-add-item:before {
  content: @fa-var-plus-circle;
}
